<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    package="com.example.start">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SET_ALARM"></uses-permission>
    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/gofastwhitelogo"
        android:label="GoFast"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light"
        app:titleTextAppearance="@style/TitleBarTextAppearance"
        app:tabIndicatorColor="#283747">
        <activity android:name=".Help" android:screenOrientation="portrait"></activity>
        <activity android:name=".AddToWhatsapp" android:screenOrientation="portrait" />
        <activity android:name=".AddToInstagram" android:screenOrientation="portrait" />
        <activity android:name=".AddToFacebook"  android:screenOrientation="portrait"/>
        <activity android:name=".NewFriend" android:screenOrientation="portrait" />
        <activity android:name=".Main2Activity" android:screenOrientation="portrait" />
        <activity android:name=".Register" android:screenOrientation="portrait" />
        <activity android:name=".Login" android:screenOrientation="portrait" />
        <activity android:name=".MainActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

       
       <receiver android:name=".Receiver"></receiver>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>